# Build artifacts
bazel-*/
bazel/
bazel-bin/
bazel-out/
bazel-testlogs/
.cache/
__pycache__/
*.pyc

# Editor/IDE
*.code-workspace

# Logs
logs/
*.log

# Virtual environments
venv/

# PlatformIO build output
PlatformIO/.pio/

# OS junk
*.DS_Store

# Ignore GitHub CLI credential cache
.config/gh/hosts.yml
.venv/
